*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#btn{
    color: white;
    background-color: #F08010;
    padding: 10px 35px;
    font-size: 17px;
    font-weight: 500;
    border: 2px solid white;
    border-radius: 20px;
    transition: all 0.5s;
}
#btn:hover{
    color: #F08010;
    border: 2px solid #F08010;
    background-color: white;
    transform: scale(1.1);
}
/* header start */
header{
    height: 70px;
    box-shadow: 0px -4px 15px 7px black;
    text-align: center;
}
header .container-lg .col img{
    height: 70px;
}
header h2{
    color: #0292e1;
    font-weight: bold;
    line-height: 70px;
    font-size: 36px;
    text-align: center;
}
/* header end */
/* banner start */
.banner{
    background: linear-gradient(to right,#091f6e,#1c51c5);
}
.banner .col-md-6 h1{
    color: white;
    font-size: 50px;
    
}
.banner .col-md-6 img{
    height:400px;
}
/* banner end */
/* course start */
header h2{
    color: #0292e1;
    font-weight: bold;
    line-height: 70px;
    font-size: 36px;
    text-align: center;
   
}
#course h2{
    text-align: center;
}
#course .container .box{
    box-shadow: 0px 0px 7px 5px #F08010;
    border-radius: 30px 0px;
    transition: all 0.5s;
}
#course .container .box:hover{
    box-shadow: 0px 0px 8px 8px #71f009;
    transform: scale(1.1);
}

/* course end */
/* location start */

  #location .box{
    border: 2px dashed #0292e1;
    height: 200px;
  }
/* location end */
/* footer section start */
footer{
    background-color: black;
    color: white;
    line-height: 50px;
    height: 50px;
    text-align: center;
}
footer h2{
    line-height: 50px;
}
#btn1{
    position: fixed;
    right: 0%;
    bottom: 0;
    border: 2px solid #F08010;
    color: white;
    background-color: #F08010 ;
    border-radius: 15px;
    padding: 10px 35px;
    font-size: 17px;
    font-weight: 500;
}
#btn1:hover{
    color: #F08010;
    border: 2px solid #F08010;
    background-color: white;
    transform: scale(1.1);
}
/* footer section end */
/* max-width 992px */
@media screen and (max-width:992px) {
    #banner .col-md-6{
        font-size:40px;
    }
}
/* max-width 992px */
/* max-width 768px */
@media screen and (max-width:768px) {
    #banner #img{
        text-align:center;
    }
}
/* max-width 768px */
/* max-width 576px */
@media screen and(max-width:576px) {
    header h2{
        font-size:20px;
    }
    #banner .col-md-6 h1{
        font-size:30px;
    }
    footer h2{
        font-size: 20px;
    }
}
/* max-width 576px */